<% title "Questions" %>

<div><%= @question.question %></div>
<%= form_for @user_answer do |f| %>
  <div><%= f.label :answer %></div>
  <div><%= f.text_field :answer %></div>
  <div id="sign_up_button"><%= f.submit "Submit answer" %></div>
<% end %>

<p><%= link_to "New Question", new_question_path %></p>
